@charset "EUC-KR";
*{box-sizing:border-box; outline:none; color:gold;}
body{background:black;}

#container {
     text-align: center;
}
table{
	margin:auto;
	text-align:center;
	width:90%;
}
tr:nth-child(odd){
     background-color: gold;
     color:black;
}
tr:nth-child(odd) td,
tr:nth-child(odd) th {
     color:black;
}
tr:nth-child(even) a{
     color:gold;
}
tr:nth-child(even) a:hover{
     color:white;
}
.tbl_login, .tbl_reg{
	 text-align:center;
	 width : 300px; height : 150px;
     border: 1px solid gold;
     border-collapse: collapse;
     margin-bottom: 30px;
}

.tbl_list{
     text-align: center;
     border: 2px solid gold;
     margin-bottom: 30px;
}
.error{color:red;}

input[type="button"],
input[type="submit"],
input[type="reset"],
button[type="submit"],
button[type="button"] {
	background:gold;
	color:black;
	padding : 10px;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button[type="submit"]:hover,
button[type="button"]:hover {
	outline:1px solid white;
	color:white;
}

input[type="text"],
input[type="password"] {
	background : black;
	outline: 1px solid gold;
}
textarea {
	background : black;
	outline:1px solid gold;
}

.pageNum-a a {color:gold;}
.pageNum-a {color:gold;}