@charset "EUC-KR";
*{box-sizing:border-box; outline:none;}
body{background:pink;}

#container {
     text-align: center;
}
table{
	margin:auto;
	text-align:center;
	width:90%;
}
tr:nth-child(even){
     background-color: black;
     color:pink;
}
tr:nth-child(odd) a{
     color:black;
}
.tbl_login, .tbl_reg{
	 text-align:center;
	 width : 300px; height : 150px;
     border: 1px solid #333;
     border-collapse: collapse;
     margin-bottom: 30px;
}

.tbl_list{
     text-align: center;
     border: 2px solid #333;
     margin-bottom: 30px;
}
.error{color:red;}

input[type="button"],
input[type="submit"],
input[type="reset"] {
	background:black;
	color:pink;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover{
	outline:1px solid white;
	color:white;
}